.register-background{
    background-color: #FDFCFA;
    width: 100%;
    height: 100vh;
}

h2{
    color: #000;
    font-size: 20px;
    margin-bottom: 15px;
}

.register-panel{
    position: fixed;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(74, 74, 74, 0.20);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.30);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 50px;
    height: 35%;
    max-height: 400px;
}

.register-panel form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-panel input{
    border-radius: 5px;
    font-size: 14px;
    width: calc(100%-40%);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.register-panel input:focus{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.register-panel button{
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    width: calc(100%-50%);
}

button{
    cursor: pointer;
}

button[id="login"] {
    margin-top: 10px;
    background-color:rgba(255, 255, 255, 0.25);
    color: #24A0ED;
}

button[id="login"]:hover{
    background-color: rgba(36, 160, 237, 0.8);
    color: #FFF;
}

.register-panel button[type="submit"]{
    /*background-color: rgba(255, 255, 255, 0.25);*/
    background-color: #24A0ED;
    color: #FFF;
    font-weight: bold;
}

.line-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.line {
    flex: 1;
    height: 1px;
    background-color: black;
}

.text {
    padding: 0 10px;
    color: black;
}